/*   font-family: 'Anton', sans-serif;
font-family: 'Lobster', sans-serif;
font-family: 'Lobster Two', sans-serif;
font-family: 'Luckiest Guy', cursive;
font-family: 'Passion One', sans-serif;
font-family: 'Paytone One', sans-serif;
font-family: 'Philosopher', sans-serif;    */

/* Header flexbox layout */
.header-container {
  display: flex;
  justify-content: space-evenly;
  align-items: space-evenly;
  flex-direction: row;
  flex-wrap:  nowrap;
  gap: 20px;
  background-color:rgba(34, 34, 57, 0.864);
  padding: 20px 0px 20px 0px;
 }



.side-headline h2 {
    margin: 0px 0px 15px 0px;
    font-family: 'Lobster Two', sans-serif;
   }
   
   .toggle-btn {
    background-color: #217eac;
    padding: 6px 3px 5px 3px;
    height: 20px;
    width: 100px;
    border-radius: 20px;
    text-align: center;
    font-size: 14px;
    margin: 0px 0px 0px 15px;
    border: 2px solid black;
   
   }




   /* Navbar stlyes*/
   .nav {
    font-size: 20px;
    line-height: 2px;

   }

   .nav li a {
    font-family: 'Passion One', sans-serif;
    line-height: 2px;
    margin: 0px 25px 0px 25px;

   }

   li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
   
   }

   li {
    list-style: none;
    list-style-position: inside;
    display: inline;
    margin: 0px 20px 0px 20px;
   }

  
   
   .contact-form h3 {
    font-family: 'Lobster Two', sans-serif;
   }
    
   .contact-form p {
    font-family: 'Philosopher', sans-serif; 
   }



   input {
    font-family: 'Lobster Two', sans-serif;
   }

   label {
    font-family: 'Lobster Two', sans-serif;
    margin: 0px 0px 0px 55px;
   }

   .contact-info {
    font-family: 'Lobster Two', sans-serif;
   }


  .contact-info h4 {
      position: relative;
      bottom:10px;
  }



li a i {
    font-size: 30px;

}
.contact-form {
  border: 3px solid black;
  margin: 20px 0px 20px 0px;
  padding: 10px 8px 10px 8px;
  background-color: rgba(93, 93, 132, 0.382);
}

.contact-form h3  {
   text-align: center;
}

input {
    margin: 15px 0px 15px 55px;
    display: block;
    box-shadow: -2px 2px 2px rgba(110, 110, 110, 0.614);
    border: 2px solid rgba(0, 0, 0, 0.863);
    background-color: rgba(237, 237, 237, 0.163);
    border-radius: 4px;
}

textarea {
  box-shadow: -2px 2px 2px rgba(130, 129, 129, 0.614);
  margin: 0px 0px 0px 55px;
  background-color: rgba(216, 216, 216, 0.425);


}
input[type='submit'] {
  background-color: rgba(8, 26, 223, 0.646);
  padding: 5px 8px;
  margin: 20px 0px 20px 115px;
  border-radius: 4px;
}

/* Functionality for the inputs feilds to shake*/
input:invalid {
  animation: shake 300ms;
}

@keyframes shake {
  0%, 100% {transform: translate(0); }
  25% {transform: translate(0.125rem); }
  75% {transform: translate(-0.125rem); }
}

img {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    border: 3px solid rgb(73, 31, 125);
}

.contact-info a {
   margin:0px 0px 10px 0px;
}

.contact-info h3 {
  margin:0px 0px 10px 0px;
}
.contact-info h4{
  margin:0px 0px 0px 0px
}

.info {
    text-decoration: none;
    color: black;
    display:block;
    position: relative;
    bottom: 10px;
}



.contact-form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* Footer styles*/
.footer_container {
  background-color: rgba(133, 137, 140, 0.336);
  text-align: center;
}

footer p {
  font-family: 'Philosopher', sans-serif;
}
 
.footer_container p {
  font-size: 18px;
}
 
.footer_container a i {
  font-size: 25px;
  margin: 0px 20px 0px 20px;
  color: black;
}

.footer_container #copyright {
   font-size: 15px;
}

#fb {
  color: rgb(24, 119, 242);
}

#link {
  color:rgb(30, 99, 182);
}