/*   font-family: 'Anton', sans-serif;
font-family: 'Lobster', sans-serif;
font-family: 'Lobster Two', sans-serif;
font-family: 'Luckiest Guy', cursive;
font-family: 'Passion One', sans-serif;
font-family: 'Paytone One', sans-serif;
font-family: 'Philosopher', sans-serif;       */

/* Styles for the header, flexbox layout with toggle btn for dark and light mode*/
/* Your regular styles here */

/* Dark mode styles - make these specific enough */
body.dark-mode {
  background-color: black;
  color: white;
}

body.dark-mode .nav a,
body.dark-mode i,
body.dark-mode a {
  color: white;
}

/*Light Mode styles */
body.light-mode {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

body.light-mode .nav a,
body.light-mode i,
body.light-mode a {
  color: rgb(0, 0, 0);
}
/* HEADER STYLES WITH FLEXBOX*/



header {
  background-image: url("https://i.ibb.co/f2QGhsT/free-Code-Camp.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity:0.9;
  
}

                
img {
  width: 185px;
  height: 185px;
  margin: 0px 0px 0px 18px;
  border-radius: 50%;
  border: 5px solid #217eac;
}

.container_head h2 {
font-family: 'Lobster Two', sans-serif;
}

.logo h2 {
color:#217eac;
font-size: 28px;
font-weight: bold;
text-align: center;
width: auto;
height: auto;
margin: 0px 0px 0px 0px;
}

/* NAV BAR STYLES*/
.nav .navBtn a {
  font-family: 'Passion One', sans-serif;
  padding: 4px 0px 4px 0px;
  font-size: 20px;
  margin: 0px 20px 0px 20px;
}




.nav a {
    text-decoration: none;
    color: black;
}

.nav ul {
    list-style: none;
    list-style-position: inside;
    line-height: 1.5px;
    
  
}

.navBtn {
  display: inline;
  margin: 0px 20px 0px 20px;
   
}
.nav li a:hover {
  color:#217eac;
}
/* NAV BAR STYLES ENDS*/



.container_head {
  display: flex;
  justify-content: space-evenly;
  align-items: space-evenly;
  flex-direction: row;
  flex-wrap: nowrap;            
  flex-shrink: inherit;
  gap: 20px;
  padding:20px 0px 20px 0px;
  width:100%;
  height: auto;
  box-shadow: 6px 6px 5px rgba(102, 102, 102, 0.682);
}





.toggle-btn {
    background-color:#217eac;
    padding: 6px 3px 5px 3px;
    height: 20px;
    width: 100px;
    border-radius: 20px;              /* STYLES FOR THE DARK & LIGHT MODDE SWITCH */
    text-align: center;
    font-size: 14px;
    border: 2px solid black;
    margin: 0px 0px 0px 10px;
    position: relative;
    

}

















.content1 h3 {
  font-family: 'Lobster Two', sans-serif; 
}
.content1 {
  margin: 30px 0px 10px 0px;
  font-family: 'Philosopher', sans-serif; 
  text-indent: 45px;
  word-spacing: 0.015em;
  font-size: 17px;
  letter-spacing: 0.0050em;
  box-shadow: 6px 6px 5px rgba(134, 134, 134, 0.412);
  padding: 25px 25px 25px 25px;
  background: linear-gradient( rgba(164, 164, 164, 0.423)25%, rgba(186, 186, 186, 0.459)50%, rgba(172, 172, 172, 0.459)100%);
  border: 1px solid rgba(99, 113, 120, 0.416);
  border-radius: 5px;
}

 



/* Breadcrumbs stylev*/
  .left-arrow, .right-arrow, a {
    text-decoration: none;
    color: black;
    position: relative;
    top: 1px;

  }
  
  .breadcrumb-item {
    /* Add your styles here. For example: */
    list-style: none;
    list-style-position: inside;
    display: inline;
    margin: 0px 20px 0px 20px;
    font-size: 12px;
  }
 
.breadcrumb-item::after {
   content: "> ";
}

  .breadcrumbsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: space-evenly;
    gap: 20px;

  }

/* Footer Styles*/


footer p {
  font-family: 'Philosopher', sans-serif;
  text-align: center;
}
 

 
footer a i {
  position: relative;
  font-size: 20px;
  margin: 0px 20px 0px 20px;
  color: black;
  left: 420px;
}

footer #copyright {
   font-size: 11px;
 
}


#fb {
  color: rgb(24, 119, 242);
}

#link {
  color:rgb(30, 99, 182);
}








/* @Media Query styles here*/

@media (prefers-color-scheme: light) {
  body {
/*Light Mode styles */
body.light-mode {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

body.light-mode .nav a,
body.light-mode i,
body.light-mode a {
  color: rgb(0, 0, 0);
}

  }
}
@media (max-width: 988px) {
  .container_head li{
    display: block;
    margin: 50px 0px 50px 0px;
    }
    .container_head .toggle-btn {
      margin: 0px 0px 0px 25px;
    }
    .container_head ul li {
      line-height: -2.5;
    }
}

@media (max-width: 500px) {
  .container_head {
    flex-direction:column;
    align-items: center;
    justify-content: center;
  }
  .container_head h2 {
    font-size: 18px;
  }
  .container_head img {
    width: 100px;
    height: 100px;
  }

  .nav li a {
    margin: 20px 15px 20px 0px;
    font-size: 10px;
    font-family: 'Passion One', sans-serif;
    display: block;
  }
  .toggle-btn {
    background-color: rgb(30, 99, 182);
    padding: 6px 3px 5px 3px;
    height: 10px;
    width: 50px;
    border-radius: 20px;
    text-align: center;
    font-size: 8px;
    border: 1px solid black;
    margin: 0px 0px 0px 10px;

}



}

/* .social_media_container{
  /*  display: flex;
    justify-content: space-evenly;
    align-items: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    display: inline;
   }  
.icon_link1 {
  position: relative;
  overflow: hidden;
  width: 50px;
  background-color: #1877f2; 
  transition: width 1s;  
  transition-timing-function: cubic-bezier(0, 0, 1, 1);  
  -webkit-transition: width 1s;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 1, 1);                    
  border-radius: 8px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;

.icon_link1 a {
    color:#1877f2;
 }


.icon_link1:hover{
    width:100px;
}



.icon_link2 {
    position: relative;
    overflow: hidden;
    width: 50px; 
    height: 50px; 
    background-color: #000000;
    transition: width 1s;  
    transition-timing-function: cubic-bezier(0, 0, 1, 1);  
    -webkit-transition: width 1s;
    -webkit-transition-timing-function: cubic-bezier(0, 0, 1, 1);   
    border-radius: 8px; 
     display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color:white;
    text-align: center;

    
      
  }
  
 .icon_link2 a{
    color: rgb(0, 0, 0);
 }


  .icon_link2:hover{
    width:100px;
    color:white;
}

  .icon_link3 {
    position: relative;
    overflow: hidden;
    width: 50px; 
    height: 50px;
    background-color: rgba(16, 76, 218, 0.849);
    transition :width 1s;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);  
    -webkit-transition: width 1s;
    -webkit-transition-timing-function: cubic-bezier(0, 0, 1, 1); 
    border-radius: 8px;  Optional: Rounded corners 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color:rgb(0, 0, 0); 
    text-align: center;
}

.icon_link3:hover {
    width:100px;
}


  .icon_link4 {
    position: relative;
    overflow: hidden;
    width: 50px; 
    height: 50px; 
    background-color: #000000;
    transition :width 1s;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);  
    -webkit-transition: width 1s;
    -webkit-transition-timing-function: cubic-bezier(0, 0, 1, 1);  
    border-radius: 8px; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color:white;
    text-align: center;  
  }
  .icon_link4 a {
    color: white;
 }
 .icon_link4:hover {
    width:100px;
}

i{
 margin-top: 12px;
}


*/